# NODE_ENV
NODE_ENV=local

# DATABASE-DEV
DATABASE_DEV_HOST=
DATABASE_DEV_USER=
DATABASE_DEV_PASSWORD=
DATABASE_DEV_NAME=

# DATABASE-LOCAL
DATABASE_LOCAL_HOST=
DATABASE_LOCAL_USER=
DATABASE_LOCAL_PASSWORD=
DATABASE_LOCAL_NAME=

# KAKAO
KAKAO_REST_API_KEY=
KAKAO_URL=

# TheThingsNetwork
MQTT_APPLICATION_ID=
MQTT_PUBLIC_ADDRESS=
MQTT_PUBLIT_TLS_ADDRESS=
MQTT_USERNAME=
MQTT_API_KEY=
MQTT_PASSWORD=
